
var getTimeStamp;
var startTime;
var endTime;
 
function getTimeStamp(startTime){
  if(value = true){
    alert(new Date());
  }
}
 
 
//function getTimeStamp(){
//  var now = new Date();
//  return ((now.getMonth() + 1) + '/' + (now.getDate()) + '/' + (now.getFullYear() + " " + now.getHours() + ':' +
//  ((now.getMinutes() < 10) ? ("0" + now.getMinutes()) : (now.getMinutes())) + ':' + ((now.getSeconds() < 10) ? ("0" + now.getSeconds()) : (now.getSeconds())));
//}
 
 
//function setTime(){
//  docment.getElementById('field').value = getTimeStamp();
//}
 
 
//var start = new Date();
//  alert("This might be working if you see this.");
//  var end = new Date();
 
//  var difference = end.getTime() - start.getTime();
 
//  alert("It took " + difference + " to complete your task");
